*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



h1{
    font-family: verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: -1.2pt;
    line-height: 1.1;
}

h2{
    font-family: arial, sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: -1.2pt;
    line-height: 1.1;
}

h3{
    font-family: arial, sans-serif;
    font-size: 15px;
    text-align: center;
    letter-spacing: -1.2pt;
    line-height: 1.1;
}

p{
    font-family: verdana, sans-serif;
    font-size: 17px;
    text-align: justify;
    letter-spacing: -1.2pt;
    line-height: 1.1;
}

#barraMenu{
    height: 70px;
    background: transparent;
    color: rgba(0,0,0, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

#barraMenu label{
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.menu ul{
    background: transparent;
    display: flex;
    list-style: none;
}

.menu ul ul {
    display: none;
}

.menu a{
    display: block;
    padding: 15px 20px;
    color: rgba(0,0,0, 0.3);
    text-decoration: none;
}

.menu a:hover{
    background-color: #041e42;
    color:#fff;
}



.menu a span{
    margin-left: 10px;
}

.menu ul li:hover ul{
    display: block;
    position: absolute;
    z-index: 1;
    background: #fff;
}

#btnMenu{
    display: none;
}


#tabla{   
    position: absolute;
    left: 10em;
    top:23em;     
}

table.imagetable {
   font-family: sans-serif;
  font-size:15px;
  color: #FFFFFF;

  border-color: #8062F5;
  /**border-collapse: collapse; **/


}

table.imagetable tr {
  background:#6e9e2d;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #999999;
}

table.imagetable tr {
  background:#323232;
/*        */
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #999999;

}

#tablaMuestra{
    border: 1px solid black;
    border-collapse: collapse;
}


@media (max-width:768px){
    #barraMenu label{
        display: block;
    }

    #barraMenu{
        justify-content: flex-start;
    }

    .menu{
        position: absolute;
        top:200px;
        left: 0;
        z-index: 2;
        width: 50%;
        transform: translateX(-100%);
        transition: all 0.3s;
    }

    .menu ul{
        display: block;
        background: #01DFD7;
    }

    .menu ul li:hover ul{
        display: none;
        position: static;
    }

    .menu a span{
        position: absolute;
        right: 5px;
    }

    #btnMenu:checked ~ .menu{
        transform: translateX(0%);
    }
    .menu ul ul{
        background: #F8E0E0;
    }

    .menu ul ul a{
        padding: 15px 40px;
    }

}

#slideFotografias{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    z-index: 1;
}

#logo{
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: auto;
    width: auto;
}

#titulo{

    margin-top: -200px;
    margin-bottom: 0px;
    color: rgba(0,0,0, 0.3);
}

#encabezado{
    background: rgba(0,0,0,0.1);
    height: 200px;
}

#informacion{
    margin-left: 20px;
    height: auto;
    width: 650px;
    color: #041e42;
}

#lujos div{

    border: 0.1px solid #041e42;
    border-radius: 5px;
    height: auto;
    width: 250px;
    text-align: justify;

}

#lujos{
    margin-top:100px;
    margin-right: 30px;
    position: relative;
    float: right;

}
#infoGene{
    width: 350px;
    height: 175px;
    text-align: justify;
}

#infoCont{
    width: 350px;
    height: 175px;
    text-align: justify;
    margin-left: auto;
    margin-right: 100px;
    margin-top: -180px
}

#derechos{
    width: 100%;
    height: 70px;
    text-align: center;
    background: #03132a;
    margin-top: -65px;
}

#mapa{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #041e42;
    width: 850px;
}
#mapaVisual{
    width: 800px;
}

#contenido{

    font-size: 20px;
    font-family: Arial; 
    font-weight: 300px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

#textoAdic{
    font-size: 20px;
    font-family: Arial; 
    font-weight: 300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    width: 980px;

}


/* Barra Social */
.social {
    position: fixed;
    right: 0;
    top: 200px;
    z-index: 2000;
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    float: right;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    -transition: all 500ms ease;
}

.social ul li .icon-facebook-squared{ background: #3b5998; }
.social ul li .icon-gplus{ background: #00abf0; }
.social ul li .icon-twitter-circled{ background:#d95232 ; }
.social ul li .icon-youtube{ background: #ae181f; }
.social ul li .icon-location{ background: #666666; }

.social ul li a:hover {
    padding: 10px 30px;
    background: #000;
}
/* Barra Social */

/**Contacto**/
form {
    width: 600px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0,0,0,0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}

textarea {
    border: 1px;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background: #37a4d9;
    color: #fff;
    padding: 20px;
    border-radius: 6px;
}

#boton:hover {
    cursor: pointer;
    background: #7AB9D8;
}

/* Sector de tablas de ofertas*/

.tabla{
    width: 85%;
    margin:auto;
    text-align: center;
    padding-top: 30px;
}

.ofertas{
    display: inline-block;
    padding: 3px;
}

.caja-precio{
    border: 0.1px solid #5c6552;
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    width:360px;
    height: 500px;
}

.texto{
    width: 320px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px; 
    color:#041e42;
}

.icono-precio{
    color: #85c34a;
    padding-top: 20px;
    font-size: 3em;
    padding-bottom: 10px;
}

.caja-precio h4{
    color:#fff;
}

.precio-1{
    color: #85c34a;
    font-size: 50px;
    font-weight: bold;
}

.dolar{
    font-size: 20px;
    vertical-align: super;
}

.mes{
    font-size: 10px;
    color:#999;
    vertical-align: text-bottom;
}

.lista-precios{
    list-style: none;
    padding: 20px 0;
    padding-bottom: 50px;
    font-family: Tahoma, Geneva, sans-serif;
    color: #171515;
}

.lista-espacios{
    padding: 0.20em;
    font-size: 13px;
}

.btn-success{
    border-radius: 5px;
    text-decoration: none;
    color:#fff;
    background-color: #0146a5;
    font-weight: bold;
    padding: 10px 70px; 
    letter-spacing: 1px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.reservar{
    margin-top: 50px;
}

.reservar-a{
    background: #85c34a;
    border-radius: 5px;
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 70px; 
    letter-spacing: 1px;
    width: 90%;
}

.reservar-a:hover{
    background-color: #041e42;
    border-radius: 5px;
}

.foto{          
    margin-left: 0.75em;
    margin-right: 0.75em;
    transition: width 2s, height 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s, -o-transform 2s;
}

.foto:hover{
    transform: scale(1.1) ;
    -moz-transform: scale(1.1) ;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);      
}

#personal,#tarjeta, #observaciones{
    border: 2px solid #041e42;
    border-radius: 15px;
    padding: 15px;
    width: 450px;
    height: auto;
    margin-left: 10px;
    background:rgba(0,0,0,0.1);
    padding: 5px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;


}

#frm-cliente{
    padding: 15px;
    margin: 10px;
    float: left;
    display: block;   
}

#habitaciones{
   border: 2px solid #041e42; 
   margin-right: 100px;
   margin-left: 650px;
   position: fixed;
    
}

#personal h3, #tarjeta h3, #observaciones h3{
    margin-left: 20px;
    font-family: arial, sans-serif;
    font-size: 17px;
    text-align: justify;
    letter-spacing: -1.2pt;
    line-height: 1.1;
}

#tituloPersonal, #tituloObservacciones, #tituloTarjeta{
    color: #03132a;
    text-align: justify;
    margin: 0;
    margin-bottom: 20px;
}

input , textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;

}

#observacion{
    border: 0.1px solid #041e42;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#Nota{
    background: rgba(0,0,0, 0.1);
    width: 23em;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #85c34a;
    padding-top: 10px;
    text-align: center;
    margin-left: 22em;
    margin-top: 30px;
    font-family: "palatino linotype", palatino, serif;
    color: #509483;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#Nota:hover{
    background-color: #041e42;
    color:#fff;   
}

#confirmacion input{
    margin-left: 200px;
    height: 50px;
    width: 200px;
    font-family: arial, sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: -1.2pt;
    line-height: 1.1;
    border-radius: 3px;
}
#confirmacion input:hover{
    background: #041e42;
    color:#fff;
}

#botTopIndent{
    margin-top: 30px;
    margin-bottom: 35px;
}

#topIndent{
    margin-top: 30px;
}

#divtworeserva{
     display: block;
    clear: both;
}

#divTotalReserva{
    clear: both;
    width: auto;
    
}

#botTopIndentBig{
    margin-top: 50px;
    margin-bottom: 40px;
}


#iniciarSesion{
    float: top;
    float: right;
    text-decoration: none;
    margin-right: 10px;
}

#fecha {
    display: flex;
    justify-content: center;
    width: auto;
    height: 100px;
    text-align: left;
    background:#041e42;
    color:#fff;
    padding: 5px 10px;
    margin-top: 0px;
    margin-bottom: 30px;
}

#fecha input{
    margin-top: 30px;
    padding-left: 10px;
    width: 200px;
    height: 35px;
    color:#041e42;
    background:#fff;
}

#Log{
    margin: auto;
    width: 50%;
    max-width: 420px;
    background: #F3F3F3;
    padding: 30px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 15px;
    margin-top: 30px;
}

#title-Log{
    font-family: "palatino linotype", palatino, serif;
    font-size: 25px;
    font-weight: bold;
    
    text-align: center; 
    margin-bottom: 20px;
    color: rgba(0,0,0,.7);
}

#log-space{
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
}

#tabla{
   
    float: right;
    margin-left: 550px;
    margin-top: 300px;
    
}

#log-button{
    margin-left: 70px;
    /*background: linear-gradient(#FFDA63, #7AB9D8);*/
    border: 0;
    background: #041e42;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    margin-bottom: 0px;
}

#log-button :active{
    transform: scale(0.950);    
}

@media(max-width:480px){
    #Log{
        width: 95%;
    }
}