*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


img{
	max-width: 100%;
}

.container{
	width: 95%;
	max-width: 1600px;
	margin: auto;
	margin-top: 30px;
        margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.item{
	width: 22%;
	margin: 10px;
}

.item img{
	border: 1px solid #fff;
	cursor: pointer;
}

.ligthbox{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	background: rgba(0,0,0,.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-close{
	width: 30px;
	height: 30px;
	background: #AE4545;
	border: 3px solid #fff;
	border-radius: 100%;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-top: 2px;
	position: absolute;
	top: 20px;
	right: 30px;
	cursor: pointer;
}
.btn-close:hover{
    	background: #01DFD7;

    
}