*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


h1{
    font-family: verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: -1.2pt;
    line-height: 1.1;
}

h2{
    font-family: arial, sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: -1.2pt;
    line-height: 1.1;
}

h3{
    font-family: arial, sans-serif;
    font-size: 15px;
    text-align: center;
    letter-spacing: -1.2pt;
    line-height: 1.1;
}

p{
    font-family: verdana, sans-serif;
    font-size: 17px;
    text-align: justify;
    letter-spacing: -1.2pt;
    line-height: 1.1;
}

#barraMenu{
    height: 50px;
    background: transparent;
    color: rgba(0,0,0, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

#barraMenu label{
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.menu ul{
    background: transparent;
    display: flex;
    list-style: none;
}

.menu ul ul {
    display: none;
}

.menu a{
    display: block;
    padding: 15px 20px;
    color: rgba(0,0,0, 0.3);
    text-decoration: none;
}

.menu a:hover{
    background-color: #041e42;
    color:#fff;
}

.menu a span{
    margin-left: 10px;
}

.menu ul li:hover ul{
    display: block;
    position: absolute;
    z-index: 1;
    background: #fff;
}

#btnMenu{
    display: none;
}


@media (max-width:768px){
    #barraMenu label{
        display: block;
    }

    #barraMenu{
        justify-content: flex-start;
    }

    .menu{
        position: absolute;
        top:200px;
        left: 0;
        z-index: 2;
        width: 50%;
        transform: translateX(-100%);
        transition: all 0.3s;
    }

    .menu ul{
        display: block;
        background: #01DFD7;
    }

    .menu ul li:hover ul{
        display: none;
        position: static;
    }

    .menu a span{
        position: absolute;
        right: 5px;
    }

    #btnMenu:checked ~ .menu{
        transform: translateX(0%);
    }
    .menu ul ul{
        background: #F8E0E0;
    }

    .menu ul ul a{
        padding: 15px 40px;
    }

    #titulo{  
        margin-top:80px;
        margin-right: -10px;
        position: relative;
    }

    #encabezado{
        height: 50px;
    }  
}

#slideFotografias{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    z-index: 1;
}

#logo{
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto;
    width: auto;
}

#titulo{

    margin-top: -200px;
    margin-bottom: 10px;
    color: rgba(0,0,0, 0.3);
}

#encabezado{
    background: rgba(0,0,0,0.1);
    height: 250px;
}

#informacion{
    margin-left: 20px;
    height: auto;
    width: 570px;
    color: #041e42;  

}
#lujos div{

    border: 0.1px solid #041e42;
    border-radius: 5px;
    height: auto;
    width: 250px;
    text-align: justify;

}

#lujos{
    margin-top:100px;
    margin-right: 15px;
    position: relative;
    float: right;

}
#infoGene{
    width: 400px;
    height: 175px;
    text-align: justify;
    position: relative;
    left: 50px;
}

#infoCont{
    width: 200px;
    height: 175px;
    text-align: justify;
    margin-left: auto;
    margin-right: 100px;
    margin-top: -180px;
    position: relative;
    float: center;
}

#derechos{
    width: 100%;
    height: 60px;
    text-align: center;
    background: #03132a;
}

#mapa{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #041e42;
}

#mapaVisual{
    width: 650px;
}
#contenido{

    font-size: 20px;
    font-family: Arial; 
    font-weight: 300px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

#textoAdic{
    font-size: 20px;
    font-family: Arial; 
    font-weight: 300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    position: relative;
    clear: both;

}

footer{
    background: #041e42;
    color: #fff;
    margin-bottom: 0px;
    width: 100%;
    position: relative;
    clear: both;
}

/* Barra Social */
.social {
    position: fixed;
    right: 0;
    top: 200px;
    z-index: 2000;
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    float: right;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    -transition: all 500ms ease;
}

.social ul li .icon-facebook-squared{ background: #3b5998; }
.social ul li .icon-gplus{ background: #00abf0; }
.social ul li .icon-twitter-circled{ background:#d95232 ; }
.social ul li .icon-youtube{ background: #ae181f; }
.social ul li .icon-location{ background: #666666; }

.social ul li a:hover {
    padding: 10px 30px;
    background: #000;
}
/* Barra Social */

/**Contacto**/
form {
    width: 450px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0,0,0,0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}

textarea {
    border: 1px;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background: #37a4d9;
    color: #fff;
    padding: 20px;
    border-radius: 6px;
}

#boton:hover {
    cursor: pointer;
    background: #7AB9D8;
}

/* Sector de tablas de ofertas*/

.tabla{
    width: 85%;
    margin:auto;
    text-align: center;
    padding-top: 30px;
}

.ofertas{
    float: left;
    padding: 3px;
    clear: right;
}

.caja-precio{
    border: 0.1px solid #5c6552;
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    width:360px;
    height: 500px;
}

.texto{
    width: 320px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px; 
    color:#041e42;
}

.icono-precio{
    color: #85c34a;
    padding-top: 20px;
    font-size: 3em;
    padding-bottom: 10px;
}

.caja-precio h4{
    color:#fff;
}

.precio-1{
    color: #85c34a;
    font-size: 50px;
    font-weight: bold;
}

.dolar{
    font-size: 20px;
    vertical-align: super;
}

.mes{
    font-size: 10px;
    color:#999;
    vertical-align: text-bottom;
}

.lista-precios{
    list-style: none;
    padding: 20px 0;
    padding-bottom: 50px;
    font-family: Tahoma, Geneva, sans-serif;
    color: #171515;
}

.lista-espacios{
    padding: 0.20em;
    font-size: 13px;
}

.reservar{
    margin-top: 50px;
}

.reservar-a{
    background: #85c34a;
    border-radius: 5px;
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 70px; 
    letter-spacing: 1px;
    width: 90%;
}

.reservar-a:hover{
    background-color: #041e42;
    border-radius: 5px;
}

.foto{          
    margin-left: 0.75em;
    margin-right: 0.75em;
    transition: width 2s, height 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s, -o-transform 2s;
}

.foto:hover{
    transform: scale(1.1) ;
    -moz-transform: scale(1.1) ;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);      
}

#personal,#tarjeta, #observaciones{
    border: 2px solid #041e42;
    border-radius: 15px;
    padding: 15px;
    width: 450px;
    height: auto;
    margin-left: 100px;
    background:rgba(0,0,0,0.1);
    padding: 5px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;



}

#personal h3, #tarjeta h3, #observaciones h3{
    margin-left: 20px;
    font-family: arial, sans-serif;
    font-size: 17px;
    text-align: justify;
    letter-spacing: -1.2pt;
    line-height: 1.1;
}

#tituloPersonal, #tituloObservacciones, #tituloTarjeta{
    color: #03132a;
    text-align: justify;
    margin: 0;
    margin-bottom: 20px;
}

input , textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;

}

#observacion{
    border: 0.1px solid #041e42;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#Nota{
    background: rgba(0,0,0, 0.1);
    width: 600px;
    height: 50px;
    left: 20px;
    border-radius: 5px;
    border: 1px solid #85c34a;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    font-family: "palatino linotype", palatino, serif;
    color: #509483;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    position: relative;
    float: left;
}

#Nota:hover{
    background-color: #041e42;
    color:#fff;   
}

#fecha {
    display: flex;
    justify-content: center;
    width: auto;
    height: 100px;
    text-align: center;
    background:#041e42;
    color:#fff;
    padding: 5px 10px;
    margin-top: 0px;
    margin-bottom: 30px;
}
#fecha input{
    margin-top: 30px;
    padding-left: 10px;
    width: 200px;
    height: 35px;
    color:#041e42;
    background:#fff;
}

#iniciarSesion{
    float: right;
    text-decoration: none;
    margin-right: 10px;
}